<?xml version="1.0"?>
<config>
    <modules>
        <Jvs_MinTotalQty>
            <version>2.0.0</version>
        </Jvs_MinTotalQty>
    </modules>
    <global>
        <models>
            <jvs_mintotalqty>
                <class>Jvs_MinTotalQty_Model</class>
            </jvs_mintotalqty>
        </models>
        <helpers>
            <jvs_mintotalqty>
                <class>Jvs_MinTotalQty_Helper</class>
            </jvs_mintotalqty>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout>
                <observers>
                    <jvs_mintotalqty_checkqty>
                        <class>jvs_mintotalqty/observer</class>
                        <method>redirectToCartWhenQuantityNotMet</method>
                    </jvs_mintotalqty_checkqty>
                </observers>
            </controller_action_predispatch_checkout>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <jvs_mintotalqty_checkqty>
                        <class>jvs_mintotalqty/observer</class>
                        <method>redirectToCartWhenQuantityNotMet</method>
                    </jvs_mintotalqty_checkqty>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_onestepcheckout>
                <observers>
                    <jvs_mintotalqty_checkqty>
                        <class>jvs_mintotalqty/observer</class>
                        <method>redirectToCartWhenQuantityNotMet</method>
                    </jvs_mintotalqty_checkqty>
                </observers>
            </controller_action_predispatch_onestepcheckout>
        </events>
    </frontend>
</config>
